@use "../../Scss/color" as *;

[type="search"] {
    ::placeholder {
        color: $searchBgColor !important;
    }

    :focus {
        border-color: $searchBgColor !important;
    }

    border-color: $searchBgColor;
}
