@import "react-alice-carousel/lib/alice-carousel.css";

@import "Scss/scrollToTop";
@import "Scss/scrollbar";
@import "Scss/color";
@import "Scss/mixin";

/* Hide React error overlay iframe */
iframe[style*="z-index: 2147483647"],
iframe[style*="position: fixed"][style*="width: 100%"][style*="height: 100%"] {
    display: none !important;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    position: relative;
}

body {
    font-family: "Montserrat Alternates", sans-serif;
    background-color: #0a0a0a;
    color: $whiteColor;
    min-height: 100vh;

    &::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: {
            image: url(./images/Background.jpg);
            attachment: fixed;
            size: cover;
            position: center center;
        }
        z-index: -1;
        pointer-events: none;
    }
}

.skip-link {
    position: fixed !important;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    background: #e50914;
    color: white !important;
    padding: 12px 24px;
    z-index: 10000;
    text-decoration: none !important;
    font-weight: bold;
    border-radius: 0 0 4px 4px;
    transition: top 0.3s ease;

    &:focus {
        top: 0;
        outline: 2px solid white;
        outline-offset: 2px;
    }
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

nav {
    z-index: 1 !important;
    min-height: 70px;
}

body {
    padding-top: 80px;
}

.layer {
    @include reset-positions;
    position: fixed;
    opacity: 0.9;
    background-image: $layerImage;
}

.lightBgColor {
    background-color: $lightBgColor;
}

.bgTransparent {
    background-color: $transparentBgColor;
}

.secondFontColor {
    color: $secondFontColor;
}

.line {
    height: 2px;
    background-color: $lineBgColor;
}

.vote {
    @include D-Flex;
    position: absolute;
    height: 40px;
    width: 40px;
    right: -15px;
    top: -15px;
    font-weight: 600;
    border-radius: 50%;
    transition: background-color 0.6s;
    background-color: $blackColor;
}

.card {
    width: 100%;
    background-color: transparent;
    border: none;
    transition:
        transform 0.6s,
        background-color 0.4s;
    border-radius: 15px !important;
    cursor: pointer;
    min-height: 320px;

    b {
        display: block;
        min-height: 1.5em;
        line-height: 1.2;
    }

    &:hover {
        background-color: $cardHoverColor;
        color: $whiteColor;

        .vote2,
        .vote1 {
            background-color: $cardHoverColor;
        }
    }
}

.vote1 {
    border: {
        bottom: $vote1Border;
        left: $vote1Border;
    }
}

.vote2 {
    border: {
        bottom: $vote2Border;
        left: $vote2Border;
    }
}

.home,
.movies,
.tv,
.series,
.people,
.search,
.about {
    position: relative;
    padding-top: 20px;
}

.skeleton-pulse {
    background: linear-gradient(
        90deg,
        $slidesBgColor 25%,
        lighten($slidesBgColor, 10%) 50%,
        $slidesBgColor 75%
    );
    background-size: 200% 100%;
    animation: skeleton-pulse 1.5s ease-in-out infinite;
}

@keyframes skeleton-pulse {
    0% {
        background-position: 200% 0;
    }
    100% {
        background-position: -200% 0;
    }
}

.item-layer {
    @include reset-positions;
    opacity: 0;
    z-index: 0 !important;
    background-image: radial-gradient(rgba(255, 255, 255, 0.01) 0, rgba(0, 0, 0, 1) 90%);
    overflow: hidden;
}

.captionLayer {
    border-radius: 15px !important;
    aspect-ratio: 2 / 3;
    background-color: $slidesBgColor;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.item {
    img {
        transition: transform 0.5s;
    }

    &:hover {
        img {
            transform: scale(1.2);
        }

        .item-layer {
            opacity: 1;
        }
    }
}

.itemHover {
    img {
        transition: transform 0.5s;
    }

    &:hover {
        :hover img {
            transform: scale(1.5);
        }
    }
}

.pos {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bg-sides {
    background-color: $slidesBgColor;
}

@media screen and (max-width: 992px) {
    .dropdown-menu {
        left: 0px;
    }

    [data-toggle="dropdown"] {
        margin: 10px 0px;
    }
}

[data-set]:hover {
    background-color: $dataSetHoverBgColor;
}

table {
    tr {
        th {
            color: $wheatColor;
        }

        td {
            color: $whiteColor;
        }

        &:hover {
            background-color: #2e51b162;
        }
    }
}

.genres {
    background-color: $genresBgColor;
    padding: 10px;
    margin: 0px 10px 0 0;
    border-radius: 10px;
}

.Loader {
    position: fixed;
    @include reset-positions;
    width: 100%;
    height: 100%;
    z-index: 20;
    background-color: $slidesBgColor;
    @include D-Flex;
}

.carousel-item {
    height: 70vh !important;
}

.carouselItem {
    display: flex;
    flex-direction: column;
    object-fit: contain;
}

.carouselItem__img {
    border-radius: 15px;
    margin-bottom: 5px;
    box-shadow: $boxShadow_CarouselItem__img;
}

.disableDotsControls {
    color: wheat;
}

.alice-carousel__next-btn-item {
    span {
        @include spanDecoration;

        &:hover {
            color: $hover1Color;
        }
    }
}

.alice-carousel__prev-btn-item {
    span {
        @include spanDecoration;

        &:hover {
            color: $hover2Color;
        }
    }
}

.trial {
    background-color: $blackColor;
    margin: auto;
    width: 100%;
    height: 400px;
}

.text-gray {
    color: $grayColor;
}
